# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Playwright artifacts
playwright-report/
test-results/
*.zip

# Allure
allure-results/
allure-report/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.code-workspace

# Env
.env
.env.*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-results/